:root {
    --darkest: #03045e;
    --darker: #0077b6;
    --mid: #00b4d8;
    --light: #90e0ef;
    --lightest: #caf0f8;
    --shipColor: #3D3B40;
}

* {
    box-sizing: border-box;
    background-color: #0077b6;
}

body {
    display:flex;
    flex-direction: column;
    height: 120vh;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 1.5em;
    color: var(--lightest);
}

main {
    display: flex;
    flex:1;
    width: 100%;
    margin: 1em;
}

.ships {
    width: 20%;
    padding: 2em;
}

.boards {
    display: flex;
    width: 80%;
    flex:1;
    align-items: center;
    justify-content: space-evenly;
}


.boards>div {
    margin: 1em;
}

.playerBoard, .oponentBoard{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.internBoard{
    display: grid;
    box-sizing: border-box;
}


.square {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square p{
    font-weight: bolder;
    background-color: inherit;
}

.shipDrawing{
    display: flex;
}

.squareShip{
    border: 2px solid;
    background-color: var(--shipColor);
}


footer{
    display:flex;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
}

a{
    color: white;
    text-decoration: none; 
}

a:visited {
    color: white;
    text-decoration: none;
}